* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  max-height: 80vh;
  overflow: auto;
  z-index: 1000;
  background: white;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.35);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
